p{
  margin: 0;
}
.container{
  min-width: 800px;
}



.body_container{
  padding-top: 30px;
  border-top: 1px solid #e2e2e2;
}
.body{
  margin: 0 auto;
  width: 1420px;
  display: flex;
}
/* side栏 */

